<!-- views/emails/download.hbs -->
<!DOCTYPE html>
<html>
<body>
  <h1>Your Download is Ready!</h1>
  <p>Dear Customer,</p>
  <p>Your purchase of "{{noteTitle}}" is ready for download.</p>
  <p><a href="{{downloadLink}}">Click here to download</a></p>
  <p>This link will expire in {{expiryHours}} hours.</p>
  <p>If you need assistance, contact {{supportEmail}}.</p>
  <p>Thank you!</p>
</body>
</html>